.productslst{
    height: 550px;
    /* border-radius: 10px; */
    float: left;
    margin-left: 50px;
    margin-top: 130px;
    /* border: 1px solid black; */
}
.product_card{
    width: 250px;
    align-items: center;
    justify-content: center;
}
.product_card .proddesc h2{
    color: red ;
}
.product_card .proddesc:hover{
    background-color: gray;
    border-radius: 10px;
}
.product_card img{
    height: 250px;
    border: 3px groove rgb(24, 221, 67);
    border-radius: 10%;
    width: 250px;
}
.product_card h1{
    width: 300px;
}